/* Mobile Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.tweetContainer {
  color: #545149;
  background-color: #f4f1ec;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 3px;
  width: 100%;
}

.tweet {
  border: 5px solid #545149;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet:hover {
  box-shadow: 10px 5px 5px grey;
}

.tweetFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ec;
  padding-left: 10px;
  padding-right: 10px;
}

article.tweet {
  padding-left: 10px;
  padding-right: 10px;
}

.textInTweet {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #545149;
}

.fas {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 18px;
}

.fa-heart:hover,
.fa-retweet:hover,
.fa-flag:hover {
  color: rgb(231, 202, 39);
  cursor: pointer;
}

.tweetPoster {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-user {
  padding-right: 7px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .container {
    width: 67%;
    float: right;
  }
}
